### IntelliJ IDEA ###
.idea/
*.iml

### Kotlin ###
.kotlin

### Gradle ###
.gradle/

### Build output ###
out/
build/

### Compiled files ###
*.class
*.jar

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS files ###
.DS_Store
Thumbs.db